{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<div class="table-wrapper">
  <h5>Available Exams</h5>
  <table>
    <thead>
      <tr>
        <th>Exam Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for t in courses %}
      <tr>
        <td>{{ t.course_name }}</td>
        <td>
          <a class="btn" href="{% url 'take-exam' t.id %}">Take Exam</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
